.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;
  max-width: 90vw;
  margin: 0 auto;
  background: #fff;
  z-index: 99 !important;
  position: relative;
}

header .header_left_content {
  display: flex;
  align-items: center;
  gap: 100px;
}
header .header_left_content .logo img {
  width: 150px;
  height: 100%;
  object-fit: contain;
}
header .header_left_content .nav {
  display: flex;
  gap: 24px;
}
header .header_left_content .link {
  color: var(--blue-text);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transition: color 0.2s;
}
header .header_left_content .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: var(--green-text);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
header .header_left_content .link:hover {
  color: var(--skyblue-color);
}
header .header_left_content .link:hover::after {
  transform: scaleX(1);
}
header .header_right_content {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .header_right_content button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 8px 20px;
  background-color: var(--white-color);
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, var(--border-color), #e7f6ff) border-box;
  border-radius: 40px;
  border: 3px solid transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.4s all;
}
header .header_right_content button:hover {
  color: var(--skyblue-color);
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

header .header_right_content button img {
  width: 25px;
  height: 25px;
}

header .megaMenuWrapper {
  position: relative;
  display: inline-block;
}

header .megaMenuWrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-width: 150px;
  height: 25px;
  background: transparent;
  pointer-events: none;
  z-index: 99;
}
header .megaMenuWrapper:hover::before {
  pointer-events: all;
}

header .megaMenu {
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 25px);
  width: 550px;
  background-color: var(--white-color);
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to top, var(--green-text), transparent) border-box;
  border-radius: 35px;
  border: 2px solid transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  padding: 32px 24px;
  z-index: 100;
  animation: megaMenuFadeIn 0.3s;
}

@keyframes megaMenuFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header .megaMenuWrapper:hover .megaMenu,
header .megaMenuWrapper:focus-within .megaMenu {
  display: block;
}

header .megaMenuContent h3 {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    var(--lightgreen-color),
    var(--green-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .megaMenuContent h3 span {
  -webkit-text-fill-color: #a8abb5;
  opacity: 0.4;
  font-size: 16px;
  display: block;
  line-height: 30px;
}

header .megaMenuContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .megaMenuContent li {
  margin-bottom: 12px;
}

header .megaMenuContent a {
  color: var(--blue-text);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s;
}

header .megaMenuContent a:hover {
  color: var(--skyblue-color);
}

header .megaMenuWrapper:hover .link {
  color: var(--skyblue-color);
}
header .megaMenuWrapper:hover .link::after {
  transform: scaleX(1);
}

header .megaMenuContent {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

header .megaMenuLeft {
  flex: 0;
}

header .megaMenuLeft h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-text);
  cursor: pointer;
  transition: color 0.2s;
}

header .megaMenuLeft h3:hover {
  color: var(--skyblue-color);
}

header .megaMenuRight {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

header .megaMenuBox {
  padding: 16px;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  transition: 0.2s all;
  cursor: pointer;
}

header .megaMenuBox:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

header .megaMenuBox img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 6px;
}

header .megaMenuBox h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-color);
  margin: 0;
  text-wrap: nowrap;
}

header .toggleButton {
  padding: 0 !important;
}
header .toggleButton:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}
header .toggleButton img {
  width: 30px !important;
  height: 30px !important;
}

@keyframes headerSlideDownFade {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.headerAnimated {
  animation: headerSlideDownFade 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0.2s both;
}

.headerHidden {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.7s, transform 0.7s;
}

@media (max-width: 1280px) {
  header .header_left_content {
    gap: 30px;
  }
  header .header_left_content .logo img {
    width: 120px;
  }
  header .header_left_content .link {
    font-size: 1.6vw;
  }
  header .header_right_content button {
    font-size: 1.4vw;
  }
  header .header_right_content button img {
    width: 20px;
    height: 20px;
  }
  header .header_right_content {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .header {
    max-width: 100vw;
    padding: 20px 40px;
  }
  .header .nav .link {
    width: max-content;
  }
  .header .nav .link:after {
    bottom: -10px;
    height: 3px;
  }
  header .megaMenu {
    max-width: 100%;
    top: calc(100% + 15px);
    pointer-events: all;
  }
  header .megaMenuWrapper {
    pointer-events: none;
  }
  header .header_left_content .nav {
    gap: 15px;
  }
  header .header_left_content .link {
    font-size: 1.2rem;
    pointer-events: all;
  }
  header .header_right_content button {
    font-size: 16px;
  }
  .headerAnimated {
    animation: none !important;
  }
  .headerHidden {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}
@media (max-width: 767px) {
  header .header_left_content .logo img {
    width: 100px;
  }
  header .megaMenuRight,
  header .megaMenuLeft {
    flex: 1;
  }
  header .header_right_content button {
    font-size: 14px;
    border: 2px solid transparent;
    padding: 8px 15px;
  }
  header .header_right_content button img {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 575px) {
  header .header_left_content .logo img {
    width: 100px;
  }
  header .header_right_content button img {
    width: 15px;
    height: 15px;
  }
  .header,
  header .nav {
    padding: 20px !important;
  }
  header .megaMenu {
    border-radius: 20px;
    padding: 20px 15px;
  }
}
@media (max-width: 500px) {
  header .header_right_content {
    gap: 10px;
  }
  header .header_right_content button {
    font-size: 12px;
    padding: 6px 10px;
    letter-spacing: 1px;
  }
}
@media (max-width: 425px) {
  .header  {
    gap: 10px;
  }
  header .header_left_content .logo img {
    width: 80px;
  }
  header .header_right_content {
    gap: 5px;
  }
    header .header_right_content button {
      padding: 3px 8px;
      border-radius: 10px;
      letter-spacing: 0.3px;
      gap: 5px;
    }
    header .header_right_content button img {
    width: 12px;
    height: 12px;
  }
  header .megaMenuLeft h3 {
    font-size: 16px;
  }
  header .megaMenuBox h4 {
    font-size: 14px;
  }
}
