.home .testimonialSection {
  padding: 40px 0;
  background: #fff;
  text-align: center;
  position: relative;
}

.home .testimonialSection .testimonialHeader {
  margin: 50px 0;
}

.home .testimonialSection .testimonialBgBox {
  margin: 40px auto 60px auto;
  position: relative;
  z-index: 1;
}

.home .testimonialSection .testimonialRect {
  position: absolute;
  pointer-events: none;
}

.home .testimonialSection .testimonialRect:nth-child(1) {
  top: 20%;
  left: 0;
  width: 100%;
  max-width: 250px;
  height: 80px;
  object-fit: cover;
  object-position: right;
  border-radius: 0 25px 25px 0;
}

.home .testimonialSection .testimonialRect:nth-child(2) {
  top: 60%;
  left: 0;
  width: 100%;
  max-width: 550px;
  height: 80px;
  object-fit: cover;
  object-position: right;
  border-radius: 0 25px 25px 0;
}

.home .testimonialSection .testimonialRect:nth-child(3) {
  top: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  height: 80px;
  object-fit: cover;
  object-position: right;
  border-radius: 0 20px 20px 0;
  transform: rotate(180deg);
}

.home .testimonialSection .googlelogo {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.home .testimonialSection .testimonialTitle {
  color: var(--blue-color);
  font-size: 2.4vw;
  font-weight: 800;
  max-width: 40%;
  text-transform: uppercase;
  line-height: 1;
  margin: 20px auto;
}

.home .testimonialSection .googleReview {
  font-size: 1.4vw;
  color: var(--blue-color);
  font-weight: 500;
  margin-bottom: 20px;
}

.home .testimonialSection .googleReview span {
  color: var(--lightgreen-color);
}

.home .testimonialSection .starReview {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.home .testimonialSection .testimonialSliderWrap {
  position: relative;
  z-index: 2;
}

.home .testimonialSection .testimonialNavBtn {
  background: #1a2a49;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  transition: background 0.2s;
  margin: 0 16px;
}

.home .testimonialSection .testimonialNavBtn:hover {
  background: #3a7bbd;
}

.home .testimonialSection .testimonialSwiper {
  width: 100%;
  max-width: 85vw;
}

.home .testimonialSection .testimonialSwiper :global(.swiper-wrapper) {
  height: 450px;
}

.home .testimonialSection .testimonialCard {
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 0;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.home .testimonialSection .testimonialCardVideo {
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home .testimonialSection .testimonialCardGraduate {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .testimonialSection .testimonialCardText {
  background: #eaf8ff;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #4dbd92;
}

.home .testimonialSection .testimonialImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
  display: block;
}

.home .testimonialSection .testimonialPlayBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.home .testimonialSection .testimonialVideoText {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 40px;
  background: linear-gradient(to top, var(--blue-color), transparent);
  width: 100%;
  height: 50%;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: start;
  justify-content: end;
}

.home .testimonialSection .testimonialText {
  font-size: 1vw;
  text-align: start;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

.home .testimonialSection .testimonialTextName {
  font-size: 1vw;
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 4px;
}

.home .testimonialSection .testimonialTextSubtitle {
  font-size: 1vw;
  color: var(--black-color);
  opacity: 0.7;
  font-weight: 500;
}

.home .testimonialSection .testimonialPagination {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24px;
}

.home .testimonialSection .testimonialPagination span {
  width: 10px;
  height: 5px;
  border-radius: 4px;
}

.home .testimonialSection .testimonialSliderWrap button {
  background: transparent;
  border: 0;
  padding: 0;
  scale: 1.1;
}

.home .testimonialSection .testimonialSliderWrap button:after {
  display: none;
}

.home .testimonialSection .testimonialSliderWrap .swiper-button-prev {
  left: 3%;
}

.home .testimonialSection .testimonialSliderWrap .swiper-button-next {
  right: 3%;
}

@media (max-width: 1199px) {
  .home .testimonialSection .testimonialTitle {
    font-size: 2rem;
  }

  .home .testimonialSection .testimonialText,
  .home .testimonialSection .testimonialTextName,
  .home .testimonialSection .testimonialTextSubtitle {
    font-size: 1rem;
  }

  .home .testimonialSection .testimonialTitle {
    max-width: 600px;
    font-size: 32px;
  }

  .home .testimonialSection .googleReview {
    font-size: 20px;
  }

  .home .testimonialSection .testimonialRect:nth-child(1) {
    top: 0;
    max-width: 35%;
  }

  .home .testimonialSection .testimonialRect:nth-child(2) {
    display: none;
  }

  .home .testimonialSection .testimonialRect:nth-child(3) {
    top: 80%;
    max-width: 35%;
  }
}

@media (max-width: 991px) {
  .home .testimonialSection {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .home .testimonialSection .testimonialTitle {
    font-size: 1.8rem;
    padding: 0 10px;
  }

  .home .testimonialSection .testimonialSwiper {
    max-width: 95vw;
  }
}

@media (max-width: 700px) {
  .home .testimonialSection .testimonialCardText {
    padding: 20px;
  }

  .home .testimonialSection .testimonialText {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .home .testimonialSection .testimonialRect {
    height: 70px !important;
  }

  .home .testimonialSection .testimonialRect:nth-child(1) {
    max-width: 30%;
    top: -20px;
  }

  .home .testimonialSection .testimonialRect:nth-child(3) {
    max-width: 25%;
    top: 65%;
  }

  .home .testimonialSection .testimonialTitle {
    font-size: 1.4rem;
  }

  .home .testimonialSection .googlelogo,
  .home .testimonialSection .starReview {
    max-width: 150px;
  }

  .home .testimonialSection .testimonialSwiper :global(.swiper-wrapper) {
    height: 400px;
  }

  .home .testimonialSection .testimonialVideoText {
    padding: 20px;
  }

  .home .testimonialSection .testimonialText {
    font-size: 1rem;
    line-height: 1.5;
  }

  .home .testimonialSection .testimonialPagination {
    margin-top: 80px;
  }

  .home .testimonialSection .testimonialSliderWrap .swiper-button-prev {
    top: 90%;
    left: 44%;
  }

  .home .testimonialSection .testimonialSliderWrap .swiper-button-next {
    top: 90%;
    right: 44%;
  }
}

@media (max-width: 500px) {
  .home .testimonialSection .testimonialText {
    font-size: 0.9rem;
    line-height: 1.45;
  }

  .home .testimonialSection .testimonialSliderWrap .swiper-button-prev {
    left: 40%;
  }

  .home .testimonialSection .testimonialSliderWrap .swiper-button-next {
    right: 40%;
  }
}

@media (max-width: 480px) {
  .home .testimonialSection .testimonialCardText {
    padding: 15px;
  }

  .home .testimonialSection .testimonialText {
    font-size: 0.8rem;
    line-height: 1.6;
  }
}

@media (max-width: 440px) {
  .home .testimonialSection .testimonialText {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 400px) {
  .home .testimonialSection .testimonialText {
    font-size: 13px;
    line-height: 0.9;
  }
}