/* USPs Section  */

.home .uspSection {
  display: flex;
  align-items: center;
  background: linear-gradient(to right,
      var(--green-color) 0%,
      var(--lightgreen-color) 100%);
  border-radius: 32px;
  padding: 50px 40px;
  color: var(--white-color);
  margin: 20px auto;
  max-width: 85vw;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.08);
  gap: 80px;
}

.home .uspSection .uspLeft {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  min-width: 320px;
  max-width: 460px;
}

.home .uspSection .uspLeft span {
  -webkit-text-fill-color: var(--white-color);
  width: max-content;
  font-size: 25px;
  margin-bottom: 20px;
}

.home .uspSection .uspLeft span:before,
.home .uspSection .uspLeft span:after {
  width: 16px;
  filter: contrast(0) brightness(2);
}

.home .uspSection .uspTitle {
  font-size: 1.6vw;
  font-weight: 700;
  margin-bottom: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white-color);
}

.home .uspSection .uspSubtitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 18px;
  letter-spacing: 1px;
  color: var(--white-color);
}

.home .uspSection .uspDesc {
  font-size: 0.8vw;
  margin-bottom: 32px;
  color: var(--white-color);
  opacity: 0.7;
  letter-spacing: 1px;
  line-height: 1.6;
  padding-bottom: 40px;
  border-bottom: 1px solid;
}

.home .uspSection .uspBtn {
  width: max-content;
  font-weight: 700;
  font-size: 1.1rem;
}

.home .uspSection .uspRight {
  flex: 2;
  position: relative;
  user-select: none;
}

.home .uspSection .uspSwiper {
  width: 100%;
  height: 500px;
  padding: 25px 30px;
  margin-left: auto;
  margin-right: auto;
}

.home .uspSection .uspSlide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  height: auto !important;
  flex-wrap: wrap;
}

.home .uspSection .uspItem {
  background: transparent;
  border-radius: 18px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white-color);
  min-width: 0;
  flex: 1;
  position: relative;
}

.home .uspSection .uspNumber {
  position: absolute;
  top: -40px;
  left: -30px;
  font-size: 3rem;
  font-weight: 700;
  color: #b2e6d4;
  opacity: 0.7;
  margin-bottom: 8px;
}

.home .uspSection .uspIconCircle {
  background: #baefd4;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.home .uspSection .uspIcon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.home .uspSection .uspItemTitle {
  font-size: 1vw;
  font-weight: 700;
  margin-bottom: 6px;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home .uspSection .uspItemDesc {
  letter-spacing: 1px;
  font-size: 0.98rem;
  color: var(--white-color);
  opacity: 0.7;
  line-height: 1.5;
}

.home .uspSection .uspScrollbar {
  position: absolute;
  right: -20px;
  top: 0;
  width: 4px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.home .uspSection .uspScrollbar :global(.swiper-scrollbar-drag) {
  background: #fff;
}

@media (max-width: 1280px) {
  .home .uspSection .uspDesc {
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .home .uspSection {
    max-width: 90vw;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
  }

  .home .uspSection .uspLeft {
    flex: none;
    max-width: 100%;
    text-align: center;
    align-items: center;
    gap: 20px;
    min-width: 100%;
  }

  .home .uspSection .uspTitle {
    font-size: 1.4rem;
  }

  .home .uspSection .uspSubtitle,
  .home .uspSection .uspNumber {
    display: none;
  }

  .home .uspSection .uspDesc {
    font-size: 1rem;
    border: none;
    padding: 0 20px;
    margin-bottom: 10px;
    opacity: 0.8 !important;
  }

  .home .uspSection .uspGrid {
    gap: 30px 40px;
  }

  .home .uspSection .uspItem {
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    padding-bottom: 30px;
  }

  .home .uspSection .uspIconCircle {
    width: auto;
    height: auto;
    padding: 20px;
  }

  .home .uspSection .uspIcon {
    width: 40px;
    height: 40px;
  }

  .home .uspSection .uspContent {
    width: 80%;
  }

  .home .uspSection .uspItemTitle {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .home .uspSection {
    max-width: 95vw;
  }

  .home .uspSection .uspLeft span:before,
  .home .uspSection .uspLeft span:after {
    width: 10px;
  }

  .home .uspSection .uspSwiper {
    padding: 20px;
  }

  .home .uspSection .uspGrid {
    grid-template-columns: 1fr;
  }

  .home .uspSection .uspSlide:last-child .uspItem:last-child {
    border: none;
  }

  .home .uspSwiper {
    height: 400px;
  }

  .home .uspSection .uspSlide {
    margin-bottom: 20px !important;
  }

  .home .uspSection .uspItem {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .uspSection .uspSlide {
    justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 425px) {
  .home .uspSection .uspSwiper {
    padding: 0;
  }

  .home .uspRight {
    padding-top: 30px;
    ;
  }

  .home .uspSection .uspItem {
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    padding-bottom: 30px;
  }

  /* This is good for the very last item: */
  .home .uspSection .uspSlide:last-child .uspItem:last-child {
    border-bottom: none;
    padding-bottom: 0;
    /* Make sure the very last item doesn't have excess padding */
  }
}