.freedemobanner-overlay {
     /* position: absolute; */
  inset: 0;
  background: linear-gradient(180deg,
      rgba(20, 20, 20, 0.45) 60%,
      rgba(20, 20, 20, 0.7) 100%);
  z-index: 1;
  pointer-events: none;
}