/* Course Section  */
.homeCopy .courseSection {
  padding: 70px 0 0 0;
}

.homeCopy .courseSection .courseHeadings {
  text-align: center;
  background-color: var(--white-color);
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, var(--border-color), #e7f6ff) border-box;
  border-bottom: 2px solid transparent;
  padding-bottom: 30px;
}

.homeCopy .courseSection .courseHeadings .courseTitle {
  font-size: 2rem;
  font-weight: 700;
  margin: 40px 0 30px 0;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--blue-color);
}

.homeCopy .courseSection .courseHeadings .courseTitle .highlight {
  background: linear-gradient(to right,
      var(--lightgreen-color),
      var(--green-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.homeCopy .courseSection .courseHeadings p {
  font-size: 1vw;
  max-width: 60%;
  margin: 0 auto;
  color: var(grey-text);
  opacity: 50%;
  line-height: 1.5vw;
}

.homeCopy .courseSection .courseInner {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: stretch;
  margin-top: 40px;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.homeCopy .courseSection .sideCard,
.homeCopy .inactiveCard,
.homeCopy .mainCard,
.homeCopy .activeCard {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 180px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
  background: rgba(255, 255, 255, 0.7);
  flex-shrink: 0;
  height: 25vw;
  transition: flex-basis 0.8s cubic-bezier(0.4, 0, 0.2, 1), z-index 0.8s,
    box-shadow 0.8s, background 0.8s;
}

.homeCopy .courseSection .sideCard,
.homeCopy .inactiveCard {
  flex-basis: 10%;
  z-index: 1;
  cursor: pointer;
}

.homeCopy .courseSection .mainCard,
.homeCopy .activeCard {
  flex-basis: 23vw;
  z-index: 2;
  background: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border-radius: 2vw;
}

.homeCopy .courseSection .mainCard .cardTitle {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.homeCopy .courseSection .sideCard .cardTitle,
.homeCopy .courseSection .sideCard .cardNumber {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.homeCopy .courseSection .activeOverlay {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0) scale(1);
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.homeCopy .courseSection .inactiveOverlay {
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px) scale(0.98);
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.homeCopy .courseSection .sideCardContent,
.homeCopy .mainCardContent {
  position: absolute;
  inset: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vw;
  color: #fff;
  padding: 2vw;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.01) 0%,
      rgba(0, 0, 0, 0.6) 100%);
  border-radius: 25px;
  transition: 0.4s all;
}

.homeCopy .courseSection .cardNumber {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  text-align: center;
  font-size: 1.7vw;
  font-weight: 600;
  color: var(--blue-color);
  z-index: 3;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--grey-text);
}

.homeCopy .courseSection .cardTitle {
  writing-mode: vertical-rl;
  font-size: 1.7vw;
  font-weight: 600;
  color: var(--blue-color);
  letter-spacing: 2px;
  margin-bottom: 2vw;
  z-index: 3;
}

.homeCopy .courseSection .cardBg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
  border-radius: 30px;
  transition: filter 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.homeCopy .courseSection .cardBg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  transition: background 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.homeCopy .courseSection .sideCard .cardBg::before {
  background: #a3cbf583;
}

.homeCopy .courseSection .mainCard .cardBg::before {
  background: #2f534161;
}

.homeCopy .courseSection .sideCard .cardBg {
  filter: blur(2px) brightness(0.9);
  opacity: 0.8;
}

.homeCopy .courseSection .mainCard .cardBg {
  filter: blur(0) brightness(1);
  opacity: 1;
}

.homeCopy .courseSection .mainCard .cardNumber {
  color: #fff;
  border: none;
  padding-bottom: 0;
  line-height: 2;
  text-align: start;
  left: 1.5vw;
  font-size: 1.7vw;
  transition: 0.4s all;
}

.homeCopy .courseSection .mainCardLabel {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 1vw;
}

.homeCopy .courseSection .mainCardTitle {
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 2px;
  max-width: 22vw;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

.homeCopy .courseSection .mainCardDetails {
  font-size: 0.9vw;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
}

.homeCopy .courseSection .mainCardBtn {
  width: max-content;
  font-weight: 600;
  font-size: 1rem;
  /* padding: 15px 20px; */
}

.homeCopy .courseSection .mainCardBtn img {
  /* width: 40px; */
}

.homeCopy .courseSection .arrow {
  font-size: 1.2em;
  display: inline-block;
  margin-left: 4px;
}

.homeCopy .marqueeBanner {
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(90deg, #1a2656 0%, #3a7bbd 100%);
  padding: 0;
  margin: 0;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.homeCopy .marqueeBanner marquee {
  width: 100%;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.25em;
  color: #e6f6ff;
  text-transform: uppercase;
  background: transparent;
  border: none;
  outline: none;
  line-height: 60px;
}

/* .homeCopy .dot {
  color: #caffd0;
  font-size: 2.2rem;
  vertical-align: middle;
  margin: 0 36px;
} */

@media (max-width: 1440px) {

  .homeCopy .courseSection .sideCard,
  .homeCopy .courseSection .inactiveCard,
  .homeCopy .courseSection .mainCard,
  .homeCopy .courseSection .activeCard {
    height: 500px;
    border-radius: 30px;
  }

  .homeCopy .courseSection .mainCard,
  .homeCopy .courseSection .activeCard {
    flex-basis: 500px;
  }
}

@media (max-width: 1280px) {

  .homeCopy .courseSection .sideCard,
  .homeCopy .courseSection .inactiveCard,
  .homeCopy .courseSection .mainCard,
  .homeCopy .courseSection .activeCard {
    height: 550px;
  }

  .homeCopy .courseSection .mainCardLabel {
    font-size: 3rem;
  }

  .homeCopy .courseSection .mainCardDetails {
    font-size: 1.3rem;
  }
}

@media (max-width: 1124px) {
  .homeCopy .courseSection .courseInner {
    max-width: 100%;
  }

  .homeCopy .courseSection .sideCard,
  .homeCopy .courseSection .inactiveCard,
  .homeCopy .courseSection .mainCard,
  .homeCopy .courseSection .activeCard {
    height: 450px;
    padding-top: 120px;
  }

  .homeCopy .courseSection .mainCard,
  .homeCopy .courseSection .activeCard {
    flex-basis: 400px;
  }

  .homeCopy .courseSection .sideCard,
  .homeCopy .courseSection .inactiveCard {
    flex-basis: 100px;
  }

  .homeCopy .courseSection .mainCardContent {
    gap: 10px;
  }

  .homeCopy .courseSection .cardTitle {
    font-size: 22px;
  }

  .homeCopy .courseSection .cardNumber {
    font-size: 35px;
    padding-bottom: 20px;
  }

  .homeCopy .courseSection .mainCardTitle {
    font-size: 18px;
  }

  .homeCopy .courseSection .mainCardLabel {
    font-size: 32px;
    margin-bottom: 8px;
  }
}

@media (max-width: 1024px) {
  .homeCopy .courseSection .courseHeadings .courseTitle {
    font-size: 35px;
  }

  .homeCopy .courseSection .courseHeadings p {
    font-size: 20px;
    max-width: 700px;
  }
}

@media (max-width: 991px) {

  .homeCopy .courseSection .mainCard,
  .homeCopy .courseSection .activeCard {
    flex-basis: 380px;
  }

  .homeCopy .courseSection .courseHeadings .courseTitle {
    font-size: 30px;
  }

  .homeCopy .courseSection .courseInner {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  .homeCopy .courseSection .mainCard {
    width: 100%;
    height: 360px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
  }

  .homeCopy .courseSection .sideCard {
    width: 100%;
    height: 120px;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    overflow: hidden;
  }

  .homeCopy .courseSection .sideCard .cardNumber {
    position: static;
    font-size: 2em;
    width: max-content;
    padding-bottom: 0;
    padding: 0 30px 0 20px;
    border-bottom: none;
    border-right: 1px solid;
  }

  .homeCopy .courseSection .mainCard .cardTitle,
  .homeCopy .courseSection .sideCard .cardTitle {
    position: static;
    writing-mode: horizontal-tb;
    font-size: 2rem;
    margin-bottom: 0;
    margin-left: 30px;
  }

  .homeCopy .courseSection .mainCardContent,
  .homeCopy .courseSection .sideCardContent {
    padding: 20px;
    border-radius: 18px;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.01) 0%,
        rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    inset: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    color: #fff;
    transition: 0.4s all;
  }

  .homeCopy .courseSection .sideCardContent {
    font-size: 0.95em;
    gap: 6px;
    padding: 10px 8px 8px 8px;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.01) 0%,
        rgba(0, 0, 0, 0.35) 100%);
  }

  .homeCopy .courseSection .mainCard .mainCardLabel,
  .homeCopy .courseSection .sideCard .mainCardLabel {
    font-size: 2.5rem;
  }

  .homeCopy .courseSection .mainCard .mainCardTitle,
  .homeCopy .courseSection .sideCard .mainCardTitle {
    font-size: 1.6rem;
  }

  .homeCopy .courseSection .mainCard .mainCardDetails,
  .homeCopy .courseSection .sideCard .mainCardDetails {
    font-size: 1.2rem;
    gap: 6px;
    padding-top: 4px;
  }

  .homeCopy .courseSection .mainCard .mainCardBtn,
  .homeCopy .courseSection .sideCard .mainCardBtn {
    margin-top: 8px;
    padding: 8px 18px;
    border-radius: 22px;
  }

  .homeCopy .courseSection .mainCard .cardBg,
  .homeCopy .courseSection .sideCard .cardBg {
    border-radius: 0;
  }

  .homeCopy .courseSection .mainCardDetails {
    justify-content: start;
    gap: 30px !important;
    font-weight: 500;
  }
}

@media (max-width: 575px) {

  .homeCopy .courseSection .sideCard,
  .homeCopy .courseSection .inactiveCard {
    flex-basis: 80px;
    border-radius: 15px;
  }

  .homeCopy .courseSection .mainCardContent,
  .homeCopy .courseSection .sideCardContent {
    justify-content: center;
  }

  .homeCopy .courseSection .mainCard {
    flex-basis: 350px;
  }

  .homeCopy .courseSection .courseHeadings .courseTitle {
    font-size: 20.4px;
    line-height: 23px;
    margin: 20px 0px;
  }

  .homeCopy .courseSection .courseHeadings p {
    font-size: 14px;
    line-height: 22px;
  }

  .homeCopy .courseSection .sideCard .cardNumber {
    font-size: 1.6rem;
    padding: 0 20px 0 10px;
  }

  .homeCopy .courseSection .sideCard .cardTitle {
    font-size: 1.6rem;
    margin-left: 20px;
  }

  .homeCopy .courseSection .mainCard .mainCardLabel,
  .homeCopy .courseSection .sideCard .mainCardLabel {
    font-size: 1.3rem;
    line-height: 30px;
  }

  .homeCopy .courseSection .mainCard .mainCardTitle,
  .homeCopy .courseSection .sideCard .mainCardTitle {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 24px;
    margin: 12px 0 0 0;
    padding-bottom: 5px;
  }

  .homeCopy .courseSection .mainCard .cardBg::before {
    background: rgba(0, 0, 0, 0.493);
  }

  .homeCopy .courseSection .mainCard .mainCardDetails,
  .homeCopy .courseSection .sideCard .mainCardDetails {
    font-size: 0.9rem;
    padding-top: 10px;
  }

  .homeCopy .courseSection .mainCard .cardNumber {
    left: 20px;
    font-size: 22px;
    opacity: 0.5;
  }

}

@media (max-width: 440px) {
  .homeCopy .courseSection .mainCard {
    flex-basis: 360px;
  }

  .homeCopy .courseSection .sideCard .cardNumber {
    font-size: 1.2rem;
    padding: 0 10px 0 0;
  }

  .homeCopy .courseSection .sideCard .cardTitle {
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .homeCopy .courseSection .mainCard .mainCardDetails,
  .homeCopy .courseSection .sideCard .mainCardDetails {
    gap: 10px !important;
  }
}

/* Removed extraneous closing bracket from here */