/* Hero Banner Section */
.homeCopy .hero {
  /* padding: 100px 0;
  background: url(/images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: 580px;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  animation: revealClipLeftToRight 2s 1s cubic-bezier(0.4, 0, 0.8, 1) forwards;
  background-position: 0% 4%; */
  padding: 3vw 0;
  background: url(/images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: 30vw;
  /* -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0); */
  -webkit-clip-path: none;
  clip-path: none;
  animation: none;
  /* animation: revealClipLeftToRight 2s 1s cubic-bezier(0.4, 0, 0.8, 1) forwards; */
  background-position: 6.5vw 1vw;

}

@keyframes revealClipLeftToRight {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

.homeCopy .hero .heroMain {
  display: flex;
  align-items: center;
}

.homeCopy .hero .heroLeft {
  /* padding-top: 3vw; */
}

.homeCopy .hero .heroLeft .heroTitle-desktop {
  font-size: 2rem;
  font-weight: 700;
  margin: 40px 0 30px 0;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--blue-color);
}

.homeCopy .hero .heroLeft .heroTitle-mobile {
  display: none;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--blue-color);
}

.homeCopy .hero .highlight {
  background: linear-gradient(to left,
      var(--green-color),
      var(--lightgreen-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.homeCopy .hero .heroLeft .heroParagraph {
  padding-top: 30px;
  font-size: 1vw;
  font-weight: 400;
  color: var(--blue-color);
  line-height: 1.5;
}

.homeCopy .hero .heroParagraph b,
.homeCopy .hero .heroParagraph strong {
  font-weight: 400;
}

.homeCopy .hero .heroParagraph strong {
  display: none;
}

.homeCopy .hero .heroParagraph span {
  text-transform: uppercase;
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.homeCopy .hero .heroRight {
  display: flex;
  justify-content: flex-end;
}

.homeCopy .hero .heroRight {
  position: relative;
}

.homeCopy .hero .videoContainer {
  position: relative;
  /* width: 100%;
  height: 100%;
  max-height: 600px; */
  width: 30vw;
  height: 28vw;
  overflow: hidden;
}

.homeCopy .hero .heroVideo {
  /* width: 100%;
  height: 600px; */
  width: 30vw;
  height: 28vw;
  max-height: 700px;
  object-fit: cover;
  object-position: right;
  border-radius: 10px;
  mask: url("/images/banner-image-right.png") no-repeat center;
  mask-size: contain;
  -webkit-mask: url("/images/banner-image-right.png") no-repeat center;
  -webkit-mask-size: contain;
}

.homeCopy .hero .videoMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  display: none;
}

.homeCopy .hero .maskImage {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: contain;
  object-position: right;
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.homeCopy .hero .heroRight .heroImage {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: contain;
  object-position: right;
}

.homeCopy .hero .heroRight .buttonGroup {
  /* position: absolute;
  top: 70%;
  bottom: 0;
  left: 39%;
  right: 15%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-end; */
  position: absolute;
  top: 0vw;
  bottom: 0vw;
  right: 2vw;
  z-index: 9;
  display: flex;
  gap: 1vw;
  justify-content: flex-end;
  flex-direction: column;
  width: 17.5vw;
}

.homeCopy .hero .heroRight .buttonGroup img {
  width: 1.7vw;
  height: auto;
}

.homeCopy .hero .heroRight .buttonGroup .buttonBlue,
.homeCopy .hero .heroRight .buttonGroup .buttonSkyBlue {
  position: relative;
  overflow: hidden;
  padding: 1vw 1vw;
  border-radius: 40px;
  text-transform: uppercase;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 1;
  text-decoration: none;
  font-size: 0.8rem;

}

.homeCopy .hero .heroRight .buttonGroup button {
  font-size: 22px;
  font-weight: 400;
  line-height: 16px;
  padding: 25px 30px;
}

.homeCopy .hero .heroRight .buttonGroup button img {
  width: 40px;
}

@media (max-width: 1800px) {
  .homeCopy .hero {
    /* background-size: 500px;
    background-position: top 10% left 5px; */
    background-size: 28vw;
    background-position: 6.5vw 1vw;
  }
}

@media (max-width: 1500px) {
  .homeCopy .hero {
    background-position: top 10% left;
  }

  .homeCopy .hero .heroLeft .heroParagraph {
    font-size: 1.3vw;
  }
}

@media (max-width: 1280px) {
  .homeCopy .hero .heroRight .buttonGroup {
    /* top: 65%;
    left: 37%; */
    gap: 0.8vw;
  }

  .homeCopy .hero .heroRight .buttonGroup button {
    padding: 5px 20px;
    gap: 10px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .homeCopy .hero .heroLeft .heroTitle {
    font-size: 35px;
  }

  .homeCopy .hero .heroLeft .heroParagraph {
    font-size: 18px;
  }

  .homeCopy .hero .heroLeft .heroParagraph span {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .homeCopy .hero {
    padding-bottom: 30px;
    /* animation: revealClipLeftToRight 1.8s 1s ease forwards; */
  }

  .homeCopy .hero .videoContainer {
    position: relative;
    width: 100vw;
    height: 48vw;
    overflow: hidden;
  }

  .homeCopy .hero .heroRight {
    justify-content: center;
  }

  .homeCopy .hero .heroRight .buttonGroup {
    top: 0vw;
    bottom: 1vw;
    right: 19vw;
    width: 31vw;
  }

  .homeCopy .hero .heroLeft div {
    text-align: center;
  }

  .homeCopy .hero .heroParagraph b {
    display: none;
  }

  .homeCopy .hero .heroParagraph strong {
    display: block;
    opacity: 0.6;
    font-weight: 500;
  }

  .homeCopy .hero .heroRight .heroImage,
  .homeCopy .hero .heroVideo {
    object-position: center;
    width: 100vw;
    height: 50vw;
  }
}

@media (max-width: 767px) {
  .col-12.col-lg-7.col-xl-7.pe-5.heroLeft {
    padding: inherit !important;
  }

  .p .homeCopy .hero {
    background: url(/images/banner-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: top right;
    padding: 40px 0 0 0;
    clip-path: inset(0 0 0 100%);
    animation: revealClipRightToLeft 1.8s 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  @keyframes revealClipRightToLeft {
    from {
      clip-path: inset(0 0 0 100%);
    }

    to {
      clip-path: inset(0 0 0 0);
    }
  }

  .homeCopy .hero .heroRight .buttonGroup {
    left: 40%;
    right: 15%;
  }

  .homeCopy .hero .heroLeft .heroTitle-desktop {
    display: none;
  }

  .homeCopy .hero .heroLeft .heroTitle-mobile {
    /* display: block;
    margin: 20px auto;
    max-width: 100%;
    line-height: 1;
    font-size: 1.4rem; */
    display: block;
    margin: 0 auto;
    max-width: 90vw;
    line-height: 23px;
    font-size: 20.4px;
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 0 20px 0;

  }

  .homeCopy .hero .heroLeft .heroTitle-mobile span {
    display: inline-block;
  }

  .homeCopy .hero .heroLeft .heroParagraph {
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .homeCopy .hero .heroLeft .heroParagraph span {
    margin-bottom: 5px;
  }

  .homeCopy .hero .heroRight .mobileContent {
    font-size: 22px;
    margin: 0;
    line-height: 30px;
  }
}

@media (max-width: 700px) {
  .homeCopy .hero {
    background-position: top -1% right;
    background-size: 460px;
  }
}

@media (max-width: 575px) {
  .homeCopy .hero {
    padding: 25px 0 0 0;
    background: url(/images/banner-bg-mobile.png) no-repeat;
    background-size: 50vh 16vh;
    background-position: top 0vh right -2vh;

  }

  .homeCopy .hero .videoContainer,
  .homeCopy .hero .heroVideo {
    height: 70vw;
  }

  .homeCopy .hero .heroVideo {
    width: 95vw;
  }

  .homeCopy .hero .heroRight .buttonGroup {

    top: 0vw;
    bottom: 0vw;
    right: 11vw;
    width: 46vw;
    gap: 3vw;
  }

  .homeCopy .hero .heroRight .buttonGroup .buttonBlue,
  .homeCopy .hero .heroRight .buttonGroup .buttonSkyBlue {
    justify-content: space-around;
  }

  .homeCopy .hero .heroRight .buttonGroup img {
    width: 7vw;
  }

  .homeCopy .hero .heroLeft .heroTitle {
    font-size: 25px;
    margin: 15px auto;
    max-width: 70%;
    line-height: 1.2;
  }

  .homeCopy .hero .heroRight .mobileContent {
    left: 38%;
    max-width: 55%;
    font-size: 18px;
    margin: 0;
    line-height: 25px;
  }

  .homeCopy .hero .heroLeft .heroParagraph span {
    margin-bottom: 25px;
    font-size: 14px;
  }

  .homeCopy .hero .heroParagraph strong {
    font-size: 15px;
    max-width: 95vw;
    display: inline-block;
    padding-bottom: 20px;

  }

  .homeCopy .hero .heroRight .buttonGroup {
    justify-content: space-evenly;
    top: 60%;
    left: 36%;
    bottom: 5vw;
    width: auto
  }

  .homeCopy .hero .heroRight .buttonGroup button {
    padding: 10px 25px;
  }

  .homeCopy .hero .heroVideo {

    mask: url("/images/banner-image-right-m.png") no-repeat center;
    -webkit-mask: url("/images/banner-image-right-m.png") no-repeat center;
    mask-size: 90%;

  }

  .homeCopy .hero .heroRight .buttonGroup .buttonBlue,
  .homeCopy .hero .heroRight .buttonGroup .buttonSkyBlue {
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 15px;
  }
}

@media (max-width: 425px) {
  ₹ .homeCopy .hero {
    padding: 10px 0 0 0;
    background-size: 90%;
  }

  /* .homeCopy .hero .heroRight .buttonGroup {
    top: 68%;
    left: 40%;
  } */

  .homeCopy .hero .heroRight .buttonGroup button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .homeCopy .hero .heroRight .buttonGroup button img {
    width: 25px;
    height: 25px;
  }

  .homeCopy .hero .heroMain h3 {
    font-size: 0.9rem;
  }

  .homeCopy .hero .heroLeft .heroTitle-mobile {
    font-size: 1.2rem;
  }

  .homeCopy .hero .heroLeft .heroTitle-mobile span {
    display: inline-block;
  }

  .homeCopy .hero .heroVideo {
    /* height: 400px; */
  }

  .homeCopy .hero .heroRight .mobileContent {
    font-size: 16px;
    line-height: 18px;
  }

  .homeCopy .hero .heroLeft .heroParagraph span {
    margin-bottom: 25px;
    font-size: 14px;
  }

  .homeCopy .hero .heroParagraph strong {
    font-size: 15px;
    max-width: 95%;
    display: inline-block;
  }

  .homeCopy .hero .heroRight .buttonGroup {
    justify-content: space-evenly;
    top: 60%;
  }

  .homeCopy .hero .heroRight .buttonGroup button {
    padding: 10px 25px;
  }

.homeCopy .hero .heroLeft div {
        padding-top: 0px;
    }

  .homeCopy .courseSection .mainCard .mainCardTitle {
    max-width: 100%;
  }

  .homeCopy .hero .heroRight .buttonGroup .buttonBlue,
  .homeCopy .hero .heroRight .buttonGroup .buttonSkyBlue {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  .homeCopy .hero .heroVideo {
    height: 300px;
  }

  .homeCopy .hero .videoContainer,
  .homeCopy .hero .heroVideo {
    height: 94vw;
  }

  .homeCopy .hero .heroRight .buttonGroup {
    width: 55vw;
  }
  .homeCopy .hero .heroLeft div {
        padding-top: 0px;
    }
        .homeCopy .hero .heroRight .buttonGroup .buttonBlue, .homeCopy .hero .heroRight .buttonGroup .buttonSkyBlue {
        font-size: 0.8rem;
                padding: 8px 10px;
    }
    .homeCopy .hero .heroVideo {
        mask: url(/images/banner-image-right-m.png) no-repeat center top;
        -webkit-mask: url(/images/banner-image-right-m.png) no-repeat center top;
        -webkit-mask-size: 90%;
        mask-size: 95%;
    }
        .homeCopy .hero .heroRight .buttonGroup {
        justify-content: flex-start;
        top: 40%;
    }
}